/* your custom css */

.imageAlignTop .blockImage {
  max-width: 200px;
}

.darkBackground {
  background-color: #709fbc;
}

.container .wrapper .imageAlignSide p {
  text-align: left;
}

.mailgo-second-shields {
  margin-top: 8px;
}

.img-left {
  margin-left: 0;
}

.mailgo-youtube {
  max-width: 100%;
  width: 350px;
  height: 250px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.wip {
  font-size: 10px !important;
}

.features .imageAlignTop .blockImage,
.features .imageAlignTop .blockImage img {
  width: 300px !important;
  max-width: 100% !important;
}

.logos a {
  padding: 5px;
}

.netlify-badge,
.browserstack-badge {
  display: block;
  margin-top: 20px;
  opacity: 0.75;
}

.netlify-badge:hover,
.browserstack-badge:hover {
  opacity: 1;
}

.copyright {
  padding: 12px;
}

.little-button {
  padding-top: 6px;
  padding-bottom: 6px;
}

.projectTitle {
  font-size: 350%;
}

.big-button {
  font-size: 18px;
}

a.button {
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
  transition: all 200ms;
}

a.button:hover {
}

a.red-button {
  border-color: #bb342f;
  color: #bb342f;
}

a.red-button:hover {
  background-color: #bb342f;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
